{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h1 class="text-center text-uppercase text-white">Quienes Somos?</h1>
                    <div class="card">
                        <div class="card-body text-capitalize">
                            Soy Un Vegano que desea mostrarle al mundo que las personas puede vivir perfectamente solo comiendo Frutas Y Vegetales.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center text-uppercase text-white">Beneficios?</h1>
                    <div class="card">
                        <div class="card-body text-capitalize">
                            Esta Es Alguna de los beneficios que yo he sentido siendo vegano
                            <br>
                            <hr>
                            <ol>
                                <li>Mejor Salud</li>
                                <li>Gran disminucion de colesterol</li>
                                <li>Gran disminucion de grasa</li>
                                <li>Mas Energia</li>
                                <li>Mejor Cuidado De La Piel</li>
                                <li>Alimentacion balanceada</li>
                                <li>El gusto y placer de saber que no murio ningun animal por tu culpa</li>
                                <li>Y Muchos Motivos Mas...</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h1 class="text-center text-uppercase text-white">Motivo?</h1>
                    <div class="card">
                        <div class="card-body text-capitalize">
                            Mi Deseo es que las personas por lo menos hagan el intento de dejar de comer carne y que vean que sus cuerpos si lo dejan hacerlo.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h1 class="text-center text-uppercase text-white">Invitacion</h1>
                    <div class="card">
                        <div class="card-body text-capitalize">
                            Invito A todos a no comer carne por 30 dias y estoy mas que seguro que no volvera a queerer comer carne nunca mas
                            <hr>
                            Vamos Hagan el intento y veran que lo que les digo es toda la verdad. UNANSE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}